SECRETDIR=/root/secret
SERVICES_TRAEFIK_LABELS_AUTHELIA_HOST=HOST(`your.domain.tld`)
# Ich bevorzuge Feste IP Adressen für meine Docker Container daher lege ich diese hier fest.
SERVICES_AUTHELIA_NETWORKS_PROXY_IPV4=172.31.191.200
SERVICES_AUTHELIA_NETWORKS_PROXY_IPV6=fd00:1:be:a:7001:0:3e:7f00
SERVICES_AUTHELIA_NETWORKS_SOCKET_PROXY_IPV4=172.31.255.200
SERVICES_AUTHELIA_NETWORKS_SOCKET_PROXY_IPV6=fd00:1:be:a:7001:0:3e:8f00
TZ=$TZ
SERVICES_AUTHELIA_HOSTNAME=authelia